BINDIR=/home/pi/bin
LOGDIR=/home/pi/tmp

@reboot		sleep 10; ${BINDIR}/boot-OledServer.sh > ${LOGDIR}/boot-OledServer.log 2>&1 &
@reboot		sleep 15; ${BINDIR}/boot-OledClient.sh > ${LOGDIR}/boot-OledClient.log 2>&1 &
